.contents {
  width: 780px;
  height: 250px;
  background-color: whitesmoke;
  margin-left: 40%;
}

.thumbnail-img {
  float: left;
  position: absolute;
  left: 25%;
}

.textdata {
  width: 400px;
  float: right;
  margin-top: -2%;
  position: relative;
  margin-right: 3%;
}

.whosid {
  position: relative;
  left: 25%;
}
